doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title xpo-admin panel
		link(rel='stylesheet', href="/main.css")

	body
		block content
			
		script(src="https://code.jquery.com/jquery-2.1.1.min.js")
		script(src="/main.js")
		