h5{
    padding-left: 13px; 
}
.item{
    line-height: 32px;
    width: 600px;
    text-align: right;
}
.item p{
    float: left;
    margin: 0 20px;
    vertical-align: middle;
}
.item button{
    vertical-align: middle;
}